/* livvic-500 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/livvic-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/livvic-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* livvic-600 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/livvic-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* livvic-700 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/livvic-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:  #014E56;
    font-family: 'Livvic' ,sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1164px;
}
/* site - header start */
.site-header{
    padding: 73px 0 129px 0;
}
.header-logo-link{
    display: inline-block;
    margin-right: 80px;
    vertical-align: middle;
}
.list{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.list .list-item{
    list-style-type: none;
    display: inline-block;
}
.list-item-link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.list-item + .list-item{
    margin-left: 40px;
}
.contact{
    margin-left: 577px;
    padding: 8px 33px 10px 32px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
}
/* site-header end  */
/* site-main   start */
.site-main{
    padding-bottom: 165px;
    background-image: url("../../contact/img/img1.png") ,
     url("../../contact/img/img.png");
    background-repeat: no-repeat;
    background-size: 200px , 224.49px 200px;
    background-position: calc(50% - 750px) calc(10% - 10px),
    calc(50% + 720px) calc(50% + 210px);
}

.hero-left{
    width: 550px;
    display: inline-block;
}
.hero-title{
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #fff;
}
.hero-text{
    margin-top: 25px;
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
}
.hero-left-list{
    padding-left: 0;
    width: 550px;
    display: inline-block;
}
.hero-left-item{
    list-style-type: none;
}
.hero-left-item img{
    margin-right: 25px;
    vertical-align: middle;
}
.hero-left-item p{
    display: inline-block;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 360px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}
.hero-right{
    width: 600px;
    display: inline-block;
}
.hero-right-name{
    margin-top: 40px;
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: #014E56;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}
.hero-right-name::placeholder{
    padding: 10px 0 15px 10px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.115385px;
    color: #FFFFFF;
    opacity: 0.6;
}
.hero-right-submit{
    margin-top: 30px;
    display: block;
    width: 123px;
    text-align:center ;
    padding: 9px 0 11px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #004047;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
}
.hero-right-submit:hover{
    background-color: #004047;
    border: 2px solid #FFFFFF;
    color: #fff;
}
/*  site-main end  */
/* site-footer start */
.site-footer{
    padding-top: 48px;
    padding-bottom: 55px;
    width: 100%;
    background-color: #000;
}
.footer{
    width: 100%;
}
.footer-left{
    width: 160px;
    display: inline-block;
}
.footer-left-img{
    display: inline-block;
    margin-bottom: 25px;
}
.footer-left-home{
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.footer-left-about{
    margin-left: 40px;
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.footer-center{
    margin-left: 125px;
    display: inline-block;
}
.footer-center p{
    font-weight: 600;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    opacity: 0.6;
}
.footer-right{
    margin-left: 455px;
    display: inline-block;
}
.footer-right a{
    text-decoration: none;
}
.footer-right-aloqa{
    display: inline-block;
    margin-bottom: 50px;
}
.footer-right-aloqa:first-child{
    margin-left: 140px;
}
.footer-right-aloqa + .footer-right-aloqa{
    margin-left: 16px;
}
.footer-right p{
    margin: 0;
    font-weight: 600;
    line-height: 25px;
    font-size: 15px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;
}
/* site-footer end */